*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#1e1e2f;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculator{
    background:#2d2d44;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    width:320px;
}

#display{
    width:100%;
    height:60px;
    border:none;
    outline:none;
    border-radius:10px;
    font-size:28px;
    text-align:right;
    padding:10px;
    margin-bottom:15px;
    background:#fff;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    height:60px;
    border:none;
    border-radius:10px;
    font-size:22px;
    cursor:pointer;
    background:#f4f4f4;
    transition:0.3s;
}

button:hover{
    background:#dcdcdc;
}

.operator{
    background:#ff9800;
    color:000;
}

.operator:hover{
    background:#e68900;
}

.equal{
    background:#28a745;
    color:000;
}

.equal:hover{
    background:#218838;
}

.zero{
    grid-column:span 2;
}
